<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
	<link rel="stylesheet" href="static/style.css">
    <title>To-Do APP</title>
  </head>
  <body>
   <center><h1 class="special-css">To-Do APP</h1></center>
   <br>
   <div class="card" >
		<form method="POST" action="/">
			{% csrf_token %}
			{{form.title}}
			<input class="btn btn-info" type="submit" name="Create Task">
		</form>
		<div class="d-flex flex-column bd-highlight mb-3">
			<ul class="list-group">
				{% for task in tasks %}
				<li class="list-group-item" style="color: white;">
					
					<a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Update</a>
					<a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Delete</a>
		
					{% if task.complete == True %}
					<strike>{{task}}</strike>
					{% else %}
					<span>{{task}}</span>
					{% endif %}
					
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<footer class="footer">
		<span class="footer-span">Developed by George Bakalis</span>
		<a href="https://www.instagram.com/george_bakalis_/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
		<a href="https://www.facebook.com/georgeb.backy/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
		<a href="https://github.com/GeorgeBacky" target="_blank"><i class="fab fa-github fa-2x"></i></a>
		<a href="https://www.linkedin.com/in/giwrgos-bakalis01/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
		
	</footer>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>